.box-principal-album {
  display: flex;
}

.main-album {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.box-cd {
  display: flex;
  flex-direction: column;
}

.cd-capa {
  height: 290px;
  width: 290px;
}

.album-name {
  color: #023031;
  font-family: Epilogue;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 37px;
}

.artist-name {
  color: #023031;
  font-family: Epilogue;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
}

.cd-hidden {
  height: 5px;
}


@media (max-width: 550px)  {
  .main-album {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    margin-top: 20px;
    /* margin-left: auto;
    margin-right: auto; */
  }

  .cd-capa {
    height: 150px;
    width: 150px;
  }

  .album-name {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
  }
  
  .artist-name {
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
  }
}