.div-login {
  align-items: center;
  background: hsl(0, 0%, 98%);
  display: flex;
  flex-direction: column;
  justify-items: center;
}

/* div {
  align-items: center;
  background: hsl(0, 0%, 98%);
  display: flex;
  flex-direction: column;
  justify-items: center;
} */

.logo {
  height: 158px;
  width: 208px;
}


.form-login {
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  height: 314px;
  justify-content: space-evenly;
  width: 697px;
}

.name-input {
  background: #fffefe;
  border: 1px solid #e0e3e7;
  border-radius: 10px;
  gap: 10px;
  height: 45px;
  padding: 12px 16px;
  width: 519px;
}

.alert {
  color: red;
  font-size: small;
  font-weight: 300;
}

.button-login {
  align-items: center;
  background-color: #003be5;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: #fffefe;
  display: flex;
  gap: 10px;
  height: 40px;
  justify-content: center;
  padding: 8px 32px;
  width: 519px;
}

.button-login:hover {
  cursor: pointer;
}

button:disabled {
  background: #0039e58a;
  color: #bbb9b9b7;
}
