.list-music {
  height: 400px;
  overflow: auto;
}

/* .player {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 8px 0 12px;
} */

.li-music {
  align-items: center;
  border-top: 1px solid #e1e5eb;
  display: flex;
  list-style: none;
  /* width: 728px; */
}

.music-name {
  width: 150px;
}

.audio {
  margin: 8px 25px 12px 30px;
}

.label-favorita {
  margin-right: 40px;
}
