.list-music {
  height: 400px;
  overflow: auto;
}

.li-music {
  align-items: center;
  border-top: 1px solid #e1e5eb;
  display: flex;
  list-style: none;
}

.music-name {
  width: 150px;
}

.audio {
  margin: 12px 25px 12px 30px;
}

.label-favorita {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin-right: 40px;
}

.heart {
  font-size: 28px;
}

.label-favorita input:checked ~ .heart {
  color: green;
}

.input-favorita {
  margin: 0;
  visibility: hidden;
}

